<app-header></app-header>

<div class="questionDiv">
  <div class="questionTitle">
    <span>끝 😋</span>
  </div>
  <div class="questionBody">
    <label>
      <img *ngIf="q1 == '1'" src="assets/img/question/cake1.png">
      <img *ngIf="q1 == '2'" src="assets/img/question/cake2.gif">
      <img *ngIf="q1 == '3'" src="assets/img/question/cake3.jpg">
      <div *ngIf="q1 == '1'" class="spanDiv"><span>돈 들어간</span><span>초코케익</span></div>
      <div *ngIf="q1 == '2'" class="spanDiv"><span>핸드메이드</span><span>랜덤케익</span></div>
      <div *ngIf="q1 == '3'" class="spanDiv"><span>돈 들어간</span><span>생크림케익</span></div>
    </label>
    <label>
      <img *ngIf="q2 == '1'" src="assets/img/question/present1.png">
      <img *ngIf="q2 == '2'" src="assets/img/question/present2.gif">
      <img *ngIf="q2 == '3'" src="assets/img/question/present3.jpg">
      <div *ngIf="q2 == '1'" class="spanDiv"><span>현금 박치기</span><span>3만원</span></div>
      <div *ngIf="q2 == '2'" class="spanDiv"><span>{{host}} 고른</span><span>랜덤선물</span></div>
      <div *ngIf="q2 == '3'" class="spanDiv"><span>마음만 받겠다</span><span>(찡긋)</span></div>
    </label>
    <label>
      <img *ngIf="q3 == '1'" src="assets/img/question/day1.png">
      <img *ngIf="q3 == '2'" src="assets/img/question/day2.jpg">
      <img *ngIf="q3 == '3'" src="assets/img/question/day3.jpg">
      <div *ngIf="q3 == '1'" class="spanDiv"><span>금요일</span><span>좋아</span></div>
      <div *ngIf="q3 == '2'" class="spanDiv"><span>토요일</span><span>좋아</span></div>
      <div *ngIf="q3 == '3'" class="spanDiv"><span>일요일</span><span>좋아</span></div>
    </label>
  </div>
</div>

<div class="btnDiv">
  <button type="button" (click)="sendCompleteKakao();">카톡</button>
  <button type="button" (click)="removeCookie();">다시</button>
</div>
