
.bdHeader {
  background-image: url("../../assets/img/background/bgTop1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: top;

  width: 100%;
  padding: 50px 0 30px;
  text-align: center;

  .imgDiv {
    display: inline-block;
    .writing {
      width: 130px;
    }
    .faceGif {
      width: 100px;
    }
  }

  .menu {
    margin-top: 20px;

    button {
      display: inline-block;
      border: none;
      width: 20%;
      margin: 0 10px;
      background: none;
      font-size: 15px;
    }
  }
}
