<app-header></app-header>

<div class="questionDiv">
  <div class="questionTitle">
<!--    <span>Q1.</span>-->
    <span>먹고 싶은 케이크</span>
  </div>
  <div class="questionBody">
    <label [class]="{selected: q1=='1'}">
      <input type="radio" name="q1" value="1" [(ngModel)]="q1">
      <img src="../../assets/img/question/cake1.png">
      <div class="spanDiv">
        <span>돈 들어간</span>
        <span>초코케익</span>
      </div>
    </label>
    <label [class]="{selected: q1=='2'}">
      <input type="radio" name="q1" value="2" [(ngModel)]="q1">
      <img src="../../assets/img/question/cake2.gif">
      <div class="spanDiv">
        <span>핸드메이드</span>
        <span>랜덤케익</span>
      </div>
    </label>
    <label [class]="{selected: q1=='3'}">
      <input type="radio" name="q1" value="3" [(ngModel)]="q1">
      <img src="../../assets/img/question/cake3.jpg">
      <div class="spanDiv">
        <span>돈 들어간</span>
        <span>생크림케익</span>
      </div>
    </label>
  </div>
</div>

<div class="questionDiv">
  <div class="questionTitle">
<!--    <span>Q2.</span>-->
    <span>두근두근 선물</span>
  </div>
  <div class="questionBody">
    <label [class]="{selected: q2=='1'}">
      <input type="radio" name="q2" value="1" [(ngModel)]="q2">
      <img src="../../assets/img/question/present1.png">
      <div>
        <span>현금 박치기</span>
        <span>3만원</span>
      </div>
    </label>
    <label [class]="{selected: q2=='2'}">
      <input type="radio" name="q2" value="2" [(ngModel)]="q2">
      <img src="../../assets/img/question/present2.gif">
      <div>
        <span>{{host}} 고른</span>
        <span>랜덤선물</span>
      </div>
    </label>
    <label [class]="{selected: q2=='3'}">
      <input type="radio" name="q2" value="3" [(ngModel)]="q2">
      <img src="../../assets/img/question/present3.jpg">
      <div>
        <span>마음만 받겠다</span>
        <span>(찡긋)</span>
      </div>
    </label>
  </div>
</div>

<div class="questionDiv">
  <div class="questionTitle">
<!--    <span>Q3.</span>-->
    <span>설레는 요일</span>
  </div>
  <div class="questionBody">
    <label [class]="{selected: q3=='1'}">
      <input type="radio" name="q3" value="1" [(ngModel)]="q3">
      <img src="../../assets/img/question/day1.png">
      <div>
        <span>금요일</span>
      </div>
    </label>
    <label [class]="{selected: q3=='2'}">
      <input type="radio" name="q3" value="2" [(ngModel)]="q3">
      <img src="../../assets/img/question/day2.jpg">
      <div>
        <span>토요일</span>
      </div>
    </label>
    <label [class]="{selected: q3=='3'}">
      <input type="radio" name="q3" value="3" [(ngModel)]="q3">
      <img src="../../assets/img/question/day3.jpg">
      <div>
        <span>일요일</span>
      </div>
    </label>
  </div>
</div>

<div class="btnDiv">
  <button type="button" (click)="saveInfo()">완료!</button>
</div>

