.bgFooter {
  background-image: url("src/assets/img/background/bgBottom1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: bottom;

  height: 125px;
  width: 100%;
}
